<div class="container">
  <div class="row">
    <div class="col-md-11 align-self-center">
      <div class="card">
        <div class="card-block test-xs-center">
          <center>
            <span style="padding-right: 1cm;"><a href="/home" style="color:#FF4081; font-size: 130%;"><i class="fa fa-ticket" style="padding-right: 0.2cm; font-size: 130%;"></i>Pozorišta</a></span>
            <span ng-show="adminCity" style="padding-right: 1cm;"><a href="/city"><i class="fa fa-map-marker" style="padding-right: 0.2cm;"></i>Grad</a></span>
            <span ng-show="adminMovies" style="padding-right: 1cm;"><a href="/movies"><i class="fa fa-film" style="padding-right: 0.2cm;"></i>Predstava</a></span>
            <span ng-show="adminTheatre" style="padding-right: 1cm;"><a href="/theatre"><i class="fa fa-film" style="padding-right: 0.2cm;"></i>Pozorište</a></span>
            <span ng-show="adminShowtime" style="padding-right: 1cm;"><a href="/showtime"><i class="fa fa-clock-o" style="padding-right: 0.2cm;"></i>Vrijeme</a></span>
            <span ng-show="adminBooking" style="padding-right: 1cm;"><a href="/booking"><i class="fa fa-book" style="padding-right: 0.2cm;"></i>Rezervisano</a></span>
            <span ng-show="adminAssign" style="padding-right: 1cm;"><a href="/assign"><i class="fa fa-pencil" style="padding-right: 0.2cm;"></i>Napravi</a></span>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-1 align-self-center">
      <div class="card">
        <div class="card-block test-xs-center waves-effect" ng-click="logoutUser()">
          <center><i class="fa fa-power-off"></i></center>
        </div>
      </div>
    </div>
  </div>
</div>
<br>


<div class="container jumbotron text-center wow fadeInUp" data-wow-delay="0.5s">
    <h1>Uradi sam</h1>

    <p>{{ tagline }}</p>

    <div class="nostyle">
        <center>

                  <label>Odaberite grad</label>
                  <select class="form-control" ng-model="assign.cityName" ng-change="selectCity(assign)" >
                   <option ng-repeat="city in cityList" ng-value="city.cityName" value="ng-value" >
                       {{city.cityName}}
                   </option>
                  </select>



                  <label>Odaberite pozorište</label>
                  <select class="form-control" ng-model="assign.theatreName" ng-change="selectTheatre(assign)" >
                       <option ng-repeat="theatreList in returnValue1" ng-value ="theatreList.theatreName">
                           {{theatreList.theatreName}}
                       </option>
                  </select>

                  <label>Odaberite vrijeme prikazivanja</label>
                  <select class="form-control" ng-model="assign.showTime" ng-change="selectshowTime(assign)" >
                       <option ng-repeat="showtimeList in returnTimings" ng-value ="showtimeList.showTimings">
                           {{showtimeList.showTimings}}
                       </option>
                  </select>

                  <label>Odaberi predstavu</label>
                  <select class="form-control" ng-model="assign.movieTitle">
                       <option ng-repeat="movieList in moviList" ng-value ="movieList.moviTitle">
                           {{movieList.moviTitle}}
                       </option>
                  </select>

                  <label>Datum izlaska</label>
                  <input type="date" ng-model="assign.fromDate" placeholder="yyyy-MM-dd" required />

                  <label>Datum završetka</label>
                  <input type="date" ng-model="assign.toDate" placeholder="yyyy-MM-dd" required />

                  <br />

                    <button type="button" ng-click="addAssign(assign)" class="btn btn-outline-success waves-effect">Dodaj</button>
                    <button ng-click="updateAssign(assign)" class="btn btn-outline-primary waves-effect">Ažuriraj</button>

              <hr />

            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>Grad</th>
                        <th>Pozorište</th>
                        <th>Vrijeme prikaza</th>
                        <th>Predstava</th>
                        <th>Datum prikazivanja</th>
                        <th>Datum završetka</th>
                        <th>Opcija</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="assign in assignList">

                        <td>{{assign.cityName}}</td>
                        <td>{{assign.theatreName}}</td>
                        <td>{{assign.showTime}}</td>
                        <td>{{assign.movieTitle}}</td>
                        <td>{{assign.fromDate}}</td>
                        <td>{{assign.toDate}}</td>
                        <td><button ng-click="removeAssign(assign)" class="btn btn-danger waves-effect">Obriši</button></td>
                        <td><button ng-click="editAssign(assign)" class="btn btn-primary waves-effect">Uredi</button></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
</div>
